.header {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.grid {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  flex: 1;
}