body {
  background-color: lightgray;
}

/* button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
} */

.header {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.grid {
  background-color: white;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  /* border: 1px solid black; */
  flex: 1;
}